body{
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    color: black;
    background-image: url(fondo_bio.png);
    background-size: cover;

}

#top{
    height: 150px;
    background-color: skyblue;


}

.contenedor{
    width: 978px;
    height: 600px;
    margin: 0 auto;

}

#foto{
    background-image: url(foto2.png);
    width: 750px;
    height: 600px;
    
}

#post{
    width: 75%;
    float: left;
    line-height: 1.5;
}